# Server
CORS: true
DEBUG: true

# URLs
URL_API=http://127.0.0.1:5000
URL_WEB_CLIENT=http://127.0.0.1:8080
URL_MINIO=http://127.0.0.1:9000

# Secrets
SECRET_COOKIE: 1234

# Database
DB_ENDPOINT=127.0.0.1
DB_PORT=27017
DB_NAME=pulse
DB_USERNAME=
DB_PASSWORD=

# MinIO
MI_ENDPOINT=127.0.0.1
MI_PORT=9000
MI_USERNAME=
MI_PASSWORD=

# Osu
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=
